* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

.nav-bar {
    max-height: 30px;
    max-width: 90vw;
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h1 {
    font-size: 30px;
}

.nav-bar .button {
    width: 100px;
    height: 30px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    color: #000033;
}

.nav-bar .button:hover {
    background-color: #FFD369;
}

.message {
    height: 3vh;
    font-size: 16px;
    padding-top: 20px;
}

.container {
    padding-top: 25px;
}

#board {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
    margin: 20px auto;
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 8px;
}

.tile {
    background-color: #070740;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tile:hover {
    background-color: #0000AA;
}

.top-left-corner-tile {
    border-top-left-radius: 6px;
}

.top-right-corner-tile {
    border-top-right-radius: 6px;
}

.bottom-left-corner-tile {
    border-bottom-left-radius: 6px;
}

.bottom-right-corner-tile {
    border-bottom-right-radius: 6px;
}

.start-num {
    cursor: default;
}

.horizontal-line {
   border-bottom: 2px solid #FFFFFF;
}

.vertical-line {
    border-right: 2px solid #FFFFFF;
}

.tile-selected {
    border: 2px solid #FFD369;
    box-shadow: 0 0 10px #FFD369;
}

#keypad {
    width: 450px;
    height: 100px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.planet-tile {
    width: 42px;
    height: 42px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.planet-tile:hover {
    transform: scale(1.1);
}

#clear {
    height: 40px;
    width: 134px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #FFD369;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #000033;
}

#clear:hover {
    background-color: #fcb612;
}

@media (max-width: 500px) {
    #board {
        width: 360px;
        height: 360px;
    }
    
    #keypad {
        width: 360px;
        height: 80px;
    }
    
    .planet-tile {
        width: 30px;
        height: 30px;
    }
}